<ion-view title="{{hotel.name}}" id="page8">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <img src='img/hotels/{{hotel.image}}'>
        </div>
        <ion-list>
            <ion-item class='item-icon-left'>
                <i class="fa fa-map icon"></i> {{hotel.location}}
            </ion-item>
            <ion-item class='item-icon-left item-icon-right' ui-sref='tabsController.hotelDetail({id:hotel._id})'>
                <i class="fa fa-bed icon"></i> <span>酒店介绍：{{facilitiesName}}</span>
                <i class="fa fa-angle-right icon"></i>
            </ion-item>
            <ion-item class="item-divider">房型</ion-item>
        </ion-list>
        <ion-list>
            <ion-item class=" item-button-right" ng-repeat='room in hotel.rooms'>
                <h2 style="display: inline">{{room.name}}</h2>
                <p class="pull-right" style="padding-right: 20px">¥ {{room.price}} 元 </p>
                <button class="button button-positive" ng-click='book(room, hotel)'>
                    预定
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
