<ion-view title="预订" id="order">
    <ion-content padding="true" class="has-header" data-tap-disabled="true">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">当前城市</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">入住时间</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">离店时间</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">关键字</span>
                <input type="text" placeholder="酒店名／品牌／位置">
            </label>
            <a href="/hotel" id="order-button2" class="button button-positive  button-block icon-left ion-search">搜索</a>
        </form>
    </ion-content>
</ion-view>