<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="预订" icon="ion-ios-home" href="#/main/order">
            <ion-nav-view name="order"></ion-nav-view>
        </ion-tab>
        <ion-tab title="附近" icon="ion-map" href="#/main/location">
            <ion-nav-view name="location"></ion-nav-view>
        </ion-tab>
        <ion-tab title="我" icon="ion-person" href="#/main/profile">
            <ion-nav-view name="profile"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>